
#direnv allow

# EDIT HERE

# List of ports to map to localhost, separated by ,
#export SANDBOX_PORTS=5685,5686

# END OF EDIT


# Export ENV_DIR
export ENV_DIR=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &>/dev/null && pwd)


# Activate the venv
source .envrc.sandbox/activate

