

# List of ports to map to localhost, separated by ,
#export VENV_PORTS=3000,5173


# To allow the container to communicate with the outside
#export VENV_NET=false # default=true (no VENV_PORTS allowed if VENV_NET=false)


# Node version (Format: "${NODE_VERSION}-${DISTRIB}")
# - Node  version: 20 22 24
# - Linux distrib: trixie trixie-slim bookworm bookworm-slim bullseye bullseye-slim alpine 

#export VENV_NODE_VERSION="22-bullseye" # Debian 11 / Node 22
export VENV_NODE_VERSION="22-alpine" # Alpine Linux / Node 22



# Important notes

# 1) After editing this file, run `direnv allow` to approve its content

# 2) In some cases you may also need to restart the Docker container.
# Just stop it with `.envrc.sandbox/docker/stop.sh` and it will restart automatically on demand.

# 3) Also with Vite.js you will need to configure { server: { host: true } } to expose the TCP port.



# Activate the venv
source .envrc.sandbox/activate

