
# Node version (Format: "${NODE_VERSION}-${DISTRIB}")
# - Node  version: 20 22 24
# - Linux distrib: trixie trixie-slim bookworm bookworm-slim bullseye bullseye-slim alpine 

#export VENV_NODE_VERSION="22-bullseye" # Debian 11 / Node 22
export VENV_NODE_VERSION="22-alpine" # Alpine Linux / Node 22


# Allowed resources (default=unlimited)
#export VENV_MEM_LIMIT=512m
#export VENV_CPU_LIMIT=$(($(nproc) * 3 / 4))
#export VENV_PIDS_LIMIT=200



# Important notes

# 1) After editing this file, run `direnv allow` to approve its content

# 2) In some cases you may also need to restart the Docker container.
# Restart it with `venv-restart`.



# Activate the venv
source .envrc.sandbox/activate

